.link {
  --line-height: 1px;
  --line-width: 100%;

  color: var(--text-color);
  text-decoration: none;
  position: relative;
  transition: text-shadow 200ms ease-in-out;
  cursor: pointer;

  &.nav-link:not(.link__active) {
    --line-width: 0%;

    &:hover {
      --line-width: 100%;
    }
  }

  &__active {
    --line-height: 2px;
    --line-width: 100%;
  }

  &__no-underline {
    --line-height: 0px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--text-color);
    transform: translate(-50%, 5px);
    height: var(--line-height);
    width: var(--line-width);
    transition: width 200ms ease-in-out;
  }
}
