@each $position in $positions {
  .position-#{$position} {
    position: $position;
  }
}

@each $prop, $value in $position-values {
  @each $placement in $position-placements {
    .#{$placement}-#{$prop} {
      #{$placement}: $value;
    }
  }
}

.absolute-center-x {
  transform: translateX(-50%);
}
.absolute-center-y {
  transform: translateY(-50%);
}
.absolute-center {
  transform: translate(-50%, -50%);
}

/*****************************************************/
/* Responsive Classes */
/*****************************************************/
@each $bp, $px in $breakpoints {
  @include respond-to(#{$px}) {
    // /* Position */
    @each $position in $positions {
      .position-#{$bp}-#{$position} {
        position: $position !important;
      }
    }

    @each $prop, $value in $position-values {
      @each $placement in $position-placements {
        .#{$placement}-#{$bp}-#{$prop} {
          #{$placement}: $value !important;
        }
      }
    }

    .absolute-center-#{$bp}-x {
      transform: translateX(-50%) !important;
    }
    .absolute-center-#{$bp}-y {
      transform: translateY(-50%) !important;
    }
    .absolute-center-#{$bp} {
      transform: translate(-50%, -50%) !important;
    }

    .absolute-center-#{$bp}-x-none {
      transform: translateX(0) !important;
    }
    .absolute-center-#{$bp}-y-none {
      transform: translateY(0) !important;
    }
    .absolute-center-#{$bp}-none {
      transform: translate(0, 0) !important;
    }
  }
}
