@include class-with-responsive-val-only($text-alignment, text, text-align);

.text-light {
  --text-color: #{$white};
  color: var(--text-color);
}

.text-dark {
  --text-color: #{$black};
  color: var(--text-color);
}
